<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StatNeth.Blaise.IDE.Base.Properties.IDE" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="StatNeth.Blaise.IDE.Base.GlobalIDE" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="StatNeth.Blaise.IDE.Base.Global" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <StatNeth.Blaise.IDE.Base.Properties.IDE>
            <setting name="BackupSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchWindowPosition" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="DisplayLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TabSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoConvertTabsToSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnippetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Color_Standard" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ShowQuickInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color_Background" serializeAs="String">
                <value>#FFFFFAFA</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSelectedTextOnFind" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMetaParser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxErrorCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutomaticBraceCompletion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowErrorInTooltip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddModifyCommandsButtonInRibbon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VersionControlAssembly" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenedItemFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenLastOpenedItemOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatamodelDefaultViewType" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedConfigurationMode" serializeAs="String">
                <value>Development</value>
            </setting>
            <setting name="RememberLastRunSelection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestoreOpenedFilesInSolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRestoreOpenedUseDefaultView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearSessionsOnPreviewInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClearDataOnPreviewInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterHierarchy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHierarchy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WidthHierarchy" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AsyncRendering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicateSolution" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTextIdTokenSuperscriptsInEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewTypeBarOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterMessageType" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="SolutionSortType" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="PreferStartupProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopBuildOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSynchronizeLayout" serializeAs="String">
                <value>Ask</value>
            </setting>
            <setting name="Color_WarningSquiggle" serializeAs="String">
                <value>#FF253690</value>
            </setting>
            <setting name="UseAgent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HarmlessChanges" serializeAs="String">
                <value>Disabled</value>
            </setting>
            <setting name="EditorFontFamily" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value />
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Courier New</value>
            </setting>
            <setting name="IsSyntaxEditorBackgroundInverted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMultiThreadedPageGeneration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewProject_AlwaysShowDEPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighLighting_Number" serializeAs="String">
                <value>#FF808000</value>
            </setting>
            <setting name="HighLighting_Operator" serializeAs="String">
                <value>#FF008000</value>
            </setting>
            <setting name="HighLighting_Comment" serializeAs="String">
                <value>#FF8FBC8F</value>
            </setting>
            <setting name="HighLighting_Keyword" serializeAs="String">
                <value>#FF000080</value>
            </setting>
            <setting name="HighLighting_Identifier" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="HighLighting_String" serializeAs="String">
                <value>#FF8B0000</value>
            </setting>
            <setting name="HighLighting_Command" serializeAs="String">
                <value>#FF8B008B</value>
            </setting>
            <setting name="AutoPromoteToBlockForIncludeFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IndentSize" serializeAs="String">
                <value>3</value>
            </setting>
        </StatNeth.Blaise.IDE.Base.Properties.IDE>
      </userSettings>
</configuration>
