<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StatNeth.Blaise.IDE.CodeSnippets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StatNeth.Blaise.IDE.CodeSnippets.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>NaN</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </StatNeth.Blaise.IDE.CodeSnippets.Properties.Settings>
    </userSettings>
</configuration>