<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Path instruments are deployed to-->
		<add key="DeployFolder" value="C:\Blaise5\"></add>
		<!--Database file with the instrument configuration-->
		<add key="ConfigurationDatabase" value="RuntimeConfiguration.db"></add>
		<!--Database file with the serverparks-->
		<add key="ServerManagerDatabase" value="ServerManagerDatabase.db"></add>
		<!--Database file with the reporting cache-->
		<add key="ReportingCacheDatabase" value="ReportingCacheDatabase.db"></add>
		<!--Database file with the encrypted usernames and roles-->
		<add key="CredentialDatabase" value="Credentials.db"></add>
		<!--On first login use this username - password-->
		<add key="MasterUserName" value="Root"></add>
		<!--Change this value as soon as possible-->
		<add key="MasterPassword" value="kcgnLYvIPo2h/uMJkmzGOw=="></add>
		<!--Port for external communication-->
		<add key="ExternalCommunicationPort" value="8033"></add>
		<add key="ExternalBinding" value="http"></add>
		<!--Port for management communication-->
		<add key="ManagementCommunicationPort" value="8031"></add>
		<add key="ManagementBinding" value="http"></add>
		<!--Enable Data service opened for remote access-->
		<add key="IsDataServicePubliclyHosted" value="True"></add>
		<!--Server or Developer installation-->
		<add key="InstallationType" value="Developer"></add>
		<!-- Session Time Out in minutes -->
		<add key="SessionTimeOut" value="20"></add>
		<!-- Maximum Waiting Time until session data is stored in Session Database  in seconds -->
		<add key="MaxSessionSaveWaitTime" value="30"></add>
		<!-- Maximum Waiting Time until server events are published  in seconds -->
		<add key="MaxPublishWaitTime" value="10"></add>
		<!-- Maximum Time that connecting to a subscriber may fail in seconds before it is removed from list of subscribers -->
		<add key="MaxSubscriberFailTime" value="150"></add>
		<!-- Time between attempts to redeliver messages to a subscriber (after a failure) in seconds -->
		<add key="RedeliverInterval" value="30"></add>
		<!-- Maximum Waiting Time until audit trail data is stored in AuditTrail Database in seconds -->
		<add key="MaxAuditTrailSaveWaitTime" value="10"></add>
		<!--- Maximum Time in minutes that an unused Prepared Datamodel is kept in Memory -->
		<add key="DatamodelTimeOut" value="60"></add>
		<!-- Timeouts for connecting to alien wcf services in seconds -->
		<!-- timeout for opening a connection -->
		<add key="WcfProxyOpenTimeout" value="5"></add>
		<!-- timeout for sending a request -->
		<add key="WcfProxySendTimeout" value="15"></add>
		<!-- timeout for receiving a response -->
		<add key="WcfProxyReceiveTimeout" value="15"></add>
		<!-- timeout for closing a connection -->
		<add key="WcfProxyCloseTimeout" value="5"></add>
		<!-- Needed when using net.tcp or https -->
		<add key="CertificateStoreName" value=""></add>
		<add key="CertificateStoreLocation" value=""></add>
		<add key="CertificateThumbprint" value=""></add>
		<!--Needed to enable client authentication -->
		<add key="ClientCertificateStoreName" value=""></add>
		<add key="ClientCertificateStoreLocation" value=""></add>
		<add key="ClientCertificateThumbprint" value=""></add>
		<!-- The audience key. Required to validate the signature of JWT tokens. Make sure it is at least 16 characters long. -->
		<add key="MachineKey" value="ABCDEFGHIJKLMNOP"></add>
		<!-- The lifetime of an access token in seconds -->
		<add key="StsAccessTokenLifetime" value="1200"></add>
		<!-- The lifetime of a refresh token in seconds -->
		<add key="StsRefreshTokenLifetime" value="86400"></add>
		<!-- The session data interface file name -->
		<add key="SessionDataInterfaceFile" value=""></add>
		<!-- The audit trail data interface file name -->
		<add key="AuditTrailDataInterfaceFile" value=""></add>
		<!-- The Cati data interface file name -->
		<add key="CatiDataInterfaceFile" value=""></add>
		<!-- The Cari data interface file name -->
		<add key="CariDataInterfaceFile" value=""></add>
		<add key="PackageServiceTimeout" value="600"></add>
	</appSettings>
	<system.diagnostics>
		<sharedListeners>
			<add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Blaise">
				<filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"></filter>
			</add>
		</sharedListeners>
		<trace autoflush="true">
			<listeners>
				<!--trace to eventlog, from level warning and worse-->
				<add name="EventLogListener"></add>
			</listeners>
		</trace>
		<switches>
			<!--
      to enable logging of statements set the switch to Verbose and
      add a listener to the trace that logs Verbose messages (EventLogListener has filter to high)
      -->
			<add name="DALTraceLevel" value="Warning"></add>
		</switches>
		<sources>
			<source name="System.ServiceModel" propagateActivity="true" switchValue="Error">
				<listeners>
					<add name="EventLogListener"></add>
				</listeners>
			</source>
			<source name="Microsoft.IdentityModel" switchValue="Error">
				<listeners>
					<add name="EventLogListener"></add>
				</listeners>
			</source>
			<source name="Blaise.Security" switchValue="Error">
				<listeners>
					<add name="EventLogListenerSecurity" type="System.Diagnostics.EventLogTraceListener" initializeData="Blaise Security"></add>
				</listeners>
			</source>
			<source name="Blaise.ServerPark" switchValue="Information"></source>
		</sources>
	</system.diagnostics>
	<!--<system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://localhost:8888"/>
    </defaultProxy>
  </system.net>-->
</configuration>
