<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="TimerIntervalInMinutes" value="TimerIntervalInMinutes" />
    <add key="BackupPath" value="#{BackupPath}#" />
    <add key="BlaiseServerHostName" value="#{BlaiseServerHostName}#" />
    <add key="BlaiseServerUserName" value="#{BlaiseServerUserName}#" />
    <add key="BlaiseServerPassword" value="#{BlaiseServerPassword}#" />
    <add key="BlaiseServerBinding" value="#{BlaiseServerBinding}#" />
    <add key="BlaiseConnectionPort" value="#{BlaiseConnectionPort}#" />
    <add key="BlaiseRemoteConnectionPort" value="#{BlaiseRemoteConnectionPort}#" />
    <add key="LibraryDirectory" value="#{LibraryDirectory}#" />
  </appSettings>
</configuration>
